.cart-item-placeholder{
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-item-placeholder{
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}