.btn-custom {
    background-color: #FFBF00;
    border-color: #FFBF00;
    color: #fff;
    font-size: 15px;
    /* font-weight:500; */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .btn-custom:hover {
    background-color: #FFBF00;
    border-color: #FFBF00;
    color: #fff;
  }